@media (prefers-color-scheme: dark) {
  :root {
    --hue: 179;
    --text-hue: 60;
    --primary-color: hsl(var(--hue), 50%, 50%);
    --secondary-color: hsl(var(--hue), 63%, 33%);
    --tertiary-color: hsl(var(--hue), 33%, 33%);
    --text-primary: hsl(var(--text-hue), 90%, 90%);
    --text-secondary: hsl(var(--text-hue), 90%, 90%);
    --primary-accent: #ff5e5b;
    --quadranary-color: hsl(var(--hue), 100%, 33%);
    --opaque-background-light: hsla(var(--hue), 50%, 80%, 0.99);
    --hyperlink-color: var(--tertiary-color);
  }
}
@media (prefers-color-scheme: light) {
  /*Hue: 197.6*/
  :root {
    --hue: 189;
    /* --primary-color: #55abce; */
    --primary-color: hsl(var(--hue), 7%, 93%);
    /* --secondary-color: #04394f; */
    --secondary-color: hsl(var(--hue), 45%, 54%);
    /* --tertiary-color: #a8ddf3; */
    --tertiary-color: hsl(var(--hue), 11%, 93%);
    /* --text-primary: #fafaf0; */
    --text-primary: hsl(var(--hue), 13%, 13%);
    /* --text-secondary: #071c2e; */
    --text-secondary: #1e1e1e;
    --quadranary-color: hsl(179, 75%, 80%);

    --primary-accent: hsl(179, 100%, 33%);
    --opaque-background-light: hsla(179, 80%, 70%, 0.9);
    /* --hyperlink-color: #bf97f5; */
    --hyperlink-color: var(--primary-accent);
  }
}

html,
body {
  background-color: var(--primary-color);
  color: var(--text-primary);
}

html {
  min-height: auto;
  min-width: 100%;
}

body {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

#typewriter-text {
  font-family: monospace;
}

div.main-container {
  display: flex;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  max-width: 60%;
  padding-bottom: 5%;
}

@media (max-width: 800px) {
  div.main-container {
    display: flex;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 80%;
    padding-bottom: 5%;
  }
}

section {
  padding-top: 2%;
  margin-top: 2%;
}

div.container p {
  text-align: left;
  text-indent: 2rem;
}

h2.section-heading {
  display: flex;
  justify-content: center;
  align-content: center;
}

div.logo-label {
  display: flex;
  align-items: center;
}
div.logo-label h3,
div.logo-label {
  /* margin-left: 10px; */
  margin-right: 10px;
}
svg {
  margin-right: 10px;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  font-style: normal;
}
h2,
h3,
h4,
button h4,
h5 {
  display: flex;
}

div.projects {
  justify-content: center;
  display: flex;
}

div.flex-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  /* color: #F9C784; */
  color: var(--hyperlink-color);
  text-decoration: none;
}

a.text-link {
  color: var(--hyperlink-color);
  text-decoration: underline;
}
a.text-link-career {
  color: var(--hyperlink-color);
  text-decoration: underline;
}
a.text-link-career:visited {
  color: var(--hyperlink-color);
}

a.text-link:visited {
  color: var(--hyperlink-color);
}

a:visited {
  color: var(--hyperlink-color);
}

p {
  text-align: center;
}

img {
  border: 1px;
  border-color: #533747;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
  /* height: 12rem; */
  width: 11rem;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: var(--secondary-color);
}
a.card p {
  text-indent: 0px;
  text-align: center;
  color: var(--text-primary);
}

.card.card-logos {
  flex-direction: row;
}

.tiny-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

/* @media (prefers-color-scheme: dark) {
    .tiny-card {
 
        background-color: #FEFEFE ; 
    }
} */

@media (prefers-color-scheme: light) {
  .tiny-card {
    background-color: #c3c2c1;
  }
}

div.contact {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (prefers-color-scheme: dark) {
  div.contact-item {
    /* 0B3C49 */
    /* background-color: #FEFEFE ;  */
    border-radius: 1px;
  }
}

ul {
  background-color: var(--secondary-color);
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  min-width: 100%;
  padding: 0;
  overflow: hidden;
  border-color: black;
  align-items: center;
}

ul li {
  display: flex;
}

ul.navbar {
  display: flex;
  flex-wrap: wrap;
}

ul li a {
  display: block;
  color: var(--text-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.navbar-container {
  background-color: var(--secondary-color);
  justify-content: center;
}

div.navbar {
  margin-top: 0;
  display: flex;
  background-color: var(--secondary-color);
  font-optical-sizing: auto;
  align-content: center;
  /* padding-left: 20%;
  padding-right: 20%; */
}

@media (max-width: 800px) {
  div.navbar {
    max-width: 100%;
    padding: 0;
  }
}

div.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.navbar a {
  color: var(--text-primary);
}

ul li a:hover {
  background-color: var(--tertiary-color); /* #F9C22E; */
  color: black;
}

ul li a.selected {
  background-color: var(--tertiary-color);
  color: black;
}

ul li a.visited {
  background-color: var(--text-primary);
  color: black;
}

/* button {
  width: 100%;
  padding-inline: 3px;
  
  background-color: var(--tertiary-color);
  color: var(--text-primary);
  color: var(--text-primary);
  border-radius: 1px;
  border-color: var(--secondary-color)
} */
