/* current palette Oct 17 2025 
https://coolors.co/14313e-d9a108-ffffff-2c6f8c-fc440f
*/
/* 
Titanium: E5E4E2
Eggplant: 533747
Midnight Green: 0B3C49
Caroline Blue: 6EB4D1
Sunset: F9C784
Golden Gate Bridge: F24C00 
*/
@media (prefers-color-scheme: dark) {
  :root {
    /*Hue: 153.6*/
    --primary-color: hsl(157, 72%, 39%);
    --secondary-color: hsl(157, 97%, 13%);
    --tertiary-color: hsl(157, 91%, 88%);
    --quadranary-color: hsl(157, 91%, 22%);
    --text-primary: hsl(150, 65%, 93%);
    /* hsl(157, 91%, 22%); */
    --hyperlink-color: var(--secondary-color);
    --primary-accent: #d9a108;
  }
}
@media (prefers-color-scheme: light) {
  /*Hue: 197.6*/
  :root {
    --primary-color: #55abce;
    --secondary-color: #04394f;
    --tertiary-color: #a8ddf3;
    --text-primary: #0f0f0f;
    --hyperlink-color: #bf97f5;
    --primary-accent: #d9a108;
  }
}

html,
body {
  background-color: var(--primary-color);
  color: var(--text-primary);
}

html {
  min-height: auto;
}

body {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

#typewriter-text {
    font-family: monospace;
}

div.main-container {
  display: flex;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  max-width: 60%;
  padding-bottom: 5%;
}

section {
  padding-top: 2%;
  margin-top: 2%;
}

div.container p {
  text-align: left;
  text-indent: 2rem;
}

h2.section-heading {
  display: flex;
  justify-content: center;
  align-content: center;
}

div.logo-label {
  display: flex;
  align-items: center;
}
div.logo-label h3,
div.logo-label svg {
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  font-style: normal;

}
h2,
h3,
h4,
h5 {
  display: flex;
}

div.projects {
  justify-content: center;
  display: flex;
}

div.flex-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

a {
  /* color: #F9C784; */
  color: var(--hyperlink-color);
  text-decoration: none;
}

a.text-link {
  color: var(--hyperlink-color);
  text-decoration: underline;
}
a.text-link-career {
  color: var(--hyperlink-color);
  text-decoration: underline;
}
a.text-link-career:visited {
  color: var(--hyperlink-color);
}

a.text-link:visited {
  color: var(--hyperlink-color);
}
a:visited {
  color: var(--hyperlink-color);
}

p {
  text-align: center;
}

img {
  border: 1px;
  border-color: #533747;
}

.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
  /* height: 12rem; */
  width: 11rem;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: var(--quadranary-color);
}
a.card p {
  text-indent: 0px;
  text-align: center;
  color: var(--text-primary);
}

.card.card-logos {
  flex-direction: row;
}

.tiny-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
}

/* @media (prefers-color-scheme: dark) {
    .tiny-card {
 
        background-color: #FEFEFE ; 
    }
} */

@media (prefers-color-scheme: light) {
  .tiny-card {
    background-color: #c3c2c1;
  }
}

div.contact {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media (prefers-color-scheme: dark) {
  div.contact-item {
    /* 0B3C49 */
    /* background-color: #FEFEFE ;  */
    border-radius: 1px;
  }
}

ul {
  background-color: var(--secondary-color);
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  min-width: 100%;
  padding: 0;
  overflow: hidden;
  border-color: black;
  align-items: center;
}

ul li {
  float: left;
}

/* @media (max-width: 800px) {
    ul li {
        float: center;
    }
} */

ul li a {
  display: block;
  color: var(--text-primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div.navbar {
    margin-top: 0;
    /* margin-bottom: 1rem; */
    display: flex;
    background-color: var(--secondary-color);
    font-optical-sizing: auto;
    align-content: center;
    max-width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

div.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.navbar a {
  color: var(--text-primary);
}

ul li a:hover {
  background-color: var(--tertiary-color); /* #F9C22E; */
  color: black;
}

ul li a.selected {
  background-color: var(--tertiary-color);
  color: black;
}

ul li a.visited {
  background-color: var(--text-primary);
  color: black;
}
