@media (prefers-color-scheme: dark) {
  :root {
    /*Hue: 153.6*/
    --primary-color: hsl(157, 72%, 39%);
    --secondary-color: hsl(157, 97%, 13%);
    --tertiary-color: hsl(157, 91%, 88%);
    --quadranary-color: hsl(157, 91%, 22%);
    --text-primary: hsl(150, 65%, 93%);
    --text-secondary: hsl(150, 15%, 3%);
    /* hsl(157, 91%, 22%); */
    --hyperlink-color: var(--secondary-color);
    --primary-accent: #d9a108;
    --opaque-background-light: hsla(157, 88%, 85%, 0.5)
  }
}
@media (prefers-color-scheme: light) {
  /*Hue: 197.6*/
  :root {
    --primary-color: #55abce;
    --secondary-color: #04394f;
    --tertiary-color: #a8ddf3;
    --text-primary: #0f0f0f;
    --text-secondary: #1e1e1e;
    --hyperlink-color: #bf97f5;
    --primary-accent: #d9a108;
  }
}

body {
  font-family: "Barlow", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

div.main-container {
  display: flex;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  max-width: 60%;
}

div.university-header,
div.company-header,
div.role-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.company-header h2,
div.company-header h3,
div.job-title h4,
div.role-header h4,
h3.company-name,
h4.company-name,
h3.daterange,
h4.daterange,
h5.daterange,
div.role-body {
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.daterange {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

h5 {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

h3.daterange,
h4.daterange,
h5.daterange,
h4.degree {
  text-align: center;
}

.degree {
  margin-left: 0.7em;
  margin-block-start: 0.1em;
  /* margin-block-end: 0.1em; */
}

div.role {
  display: block;
  text-align: left;
  margin-block-end: 0.755em;
}

div.role-body {
  display: block;
  text-align: left;
  margin-block-end: 0.755em;
}

@media (max-width: 800px) {
  .main-container {
    padding: 4%;
  }
  div.company-header h2,
  div.company-header h3,
  div.job-title h4,
  div.role-header h4 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
  div.company-header h,
  h4.degree {
    margin-left: 0.4em;
  }

  h3.daterange,
  h4.daterange,
  h5.daterange {
    margin-block-start: 0.1em;
  }
}

button h4 {
  color: hsl(157, 97%, 13%);
}

ul.career-item {
  list-style-type: circle;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul.career-item li {
  margin: 10px;
  list-style-type: circle;
}
.card {
  width: 60rem;
}

button {
  padding: 8px;
  border-radius: 25px;
  border-style: dashed;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.popup {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tech-stack {
  justify-content: space-between;
  border-radius: 25px;
  padding: 5px;
  margin: 5px;
  background-color: hsl(150, 65%, 93%);
}

.popup .tech-stack {
  visibility: hidden;
  background-color: var(--tertiary-color);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -29%;
  display: inline-block;
}

.popup .tech-stack::after {
  content: "";
  position: absolute;
  top: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tertiary-color) transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  background-color: var(--tertiary-color);
  border-radius: 25px;
}

div.tech-stack div {
  display: block;
}
h4.tech-stack-label {
  display: block;
  color:#04394f;
  /* margin-block-start: 12px; */
  margin-block-end: 12px;
}