body {

        font-family: "Barlow", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        }

h1 {
    font-family: monospace;
    font-weight: 900;
    font-style: normal;

}

div.main-container {
  display: flex;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 60%;
}

div.university-header,
div.company-header,
div.role-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.company-header h2,
div.company-header h3,
div.job-title h4,
div.role-header h4,
h3.company-name,
h4.company-name,
h3.daterange,
h4.daterange,
h5.daterange,
div.role-body {
    margin-left: .5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.daterange {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

h5 {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: italic;
}

h3.daterange,
h4.daterange,
h5.daterange,
h4.degree {
  text-align: center;
}

.degree {
  margin-left: 0.7em;
  margin-block-start: 0.1em;
  /* margin-block-end: 0.1em; */
}

div.role {
  display: block;
}

div.role-body {
  display: block;
  text-align: left;
  margin-block-end: 0.755em;
}
@media (max-width: 800px) {
    .main-container {
    padding: 4%;
}
  div.company-header h2,
  div.company-header h3,
  div.job-title h4,
  div.role-header h4 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }
  div.company-header h,
  h4.degree {
    margin-left: 0.4em;
  }

  h3.daterange,
  h4.daterange,
  h5.daterange {
    margin-block-start: 0.1em;
  }
}

